@model ProjetoOrla.Models.Inicio

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Inicio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo_1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo_1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo_2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo_2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BotaoInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BotaoInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FotoInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FotoInicio)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.InicioId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
